# Lab 2

Stworz funkcję która zwróci drugi najmniejszy element listy

druginajmniejszy([1, 2, 3, 4, 6])

2

In [ ]:
def druginajmniejszy(lista):
    if len(lista) < 2:
        return lista[0]
    if lista[0] > lista[1]:
        pierwszy, drugi = lista[1], lista[0]
    else:
        pierwszy, drugi = lista[0], lista[1]
    for x in lista[2:]:
        print (x, pierwszy, drugi)
        if x < drugi and x!=pierwszy:
            if x < pierwszy:
                pierwszy, drugi = x, pierwszy
            else:
                drugi = x
    return drugi

In [ ]:
druginajmniejszy([2,1,3,4,5])

In [ ]:
druginajmniejszy([1,2,2,1,3,4,5])

# Zadanie 2

Stworz funkcję która usunie z listy najmniejszy element listy

l = [4, 1, 2, 3]

usun_min(l)

l

[4, 2, 3]

In [ ]:
def usun_min(lista):
    do_usuniecia = set()
    for i in range(len(lista)):
        if lista[i]==min(lista):
            do_usuniecia.add(i)
    for i in range(len(lista)-1,-1,-1):
        if i in do_usuniecia:
            del lista[i]

In [ ]:
l = [4, 1, 2, 3]
usun_min(l)
l

In [ ]:
l = [4, 1, 1, 3]
usun_min(l)
l

In [4]:
# Frozenset i niezmienność

In [5]:
zbior = set()

In [6]:
zbior

set()

In [7]:
zbior.add("ala")

In [8]:
zbior

{'ala'}

In [9]:
zbior.add("ma")

In [10]:
zbior.add("kota")

In [11]:
zbior.add("ala")

In [12]:
zbior

{'ala', 'kota', 'ma'}

In [13]:
zbior.add([1,2])

TypeError: unhashable type: 'list'

In [14]:
zbior.add((1,2))

In [15]:
zbior

{(1, 2), 'ala', 'kota', 'ma'}

In [16]:
zbior.add(zbior)

TypeError: unhashable type: 'set'

In [17]:
zbior.add(frozenset(zbior))

In [18]:
zbior

{(1, 2), 'ala', frozenset({(1, 2), 'ala', 'kota', 'ma'}), 'kota', 'ma'}

In [19]:
m = {}

In [20]:
m[ [1,2] ] = 1

TypeError: unhashable type: 'list'

In [21]:
m[ (1,2) ] = 1

In [22]:
fs = frozenset([1, 2, 3, 4, 5])

size = len(fs)
print('frozenset size =', size)

contains_item = 5 in fs
print('fs contains 5 =', contains_item)

not_contains_item = 6 not in fs
print('fs not contains 6 =', not_contains_item)

is_disjoint = fs.isdisjoint(frozenset([1, 2]))
print(is_disjoint)

is_disjoint = fs.isdisjoint(frozenset([10, 20]))
print(is_disjoint)

is_subset = fs.issubset(set([1, 2]))
print(is_subset)

is_subset = fs.issubset(set([1, 2, 3, 4, 5, 6, 7]))
print(is_subset)

is_superset = fs.issuperset(frozenset([1, 2]))
print(is_superset)

is_superset = fs.issuperset(frozenset([1, 2, 10]))
print(is_superset)

fs1 = fs.union(frozenset([1, 2, 10]), set([99, 98]))
print(fs1)

fs1 = fs.intersection(set((1, 2, 10, 20)))
print(fs1)

fs1 = fs.difference(frozenset([1, 2, 3]))
print(fs1)

fs1 = fs.symmetric_difference(frozenset([1, 2, 10, 20]))
print(fs1)

fs1 = fs.copy()
print(fs1)

frozenset size = 5
fs contains 5 = True
fs not contains 6 = True
False
True
False
True
True
False
frozenset({1, 2, 3, 4, 5, 98, 99, 10})
frozenset({1, 2})
frozenset({4, 5})
frozenset({3, 20, 4, 5, 10})
frozenset({1, 2, 3, 4, 5})

# Zadanie na dziś 1

Napisać `skrypt` który zliczy ilość wystąpień parametrów z linii komend

PS C:\work\conda\WarsztatPythonDataScience> python .\simple_script.py asdf asdf as as as
{'asdf': 2, 'as': 3}

# Zadanie na dziś 2

Napisać `skrypt` który zliczy ilość wystąpień znaków w parametrach z linii komend

PS C:\work\conda\WarsztatPythonDataScience> python .\simple_script.py asdf asdf as as as
{'a': 5, 's': 5, 'd': 2, 'f': 2, ' ': 4}

# Zadanie na dziś 3

Wypisać wszystkie permutacje danej listy
1. z wykorzystaniem itertools
2. bez wykorzystania itertools

permutations([1,2,3])
[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [ ]:
def permutations(l):

# Zadanie na dziś 4

Stworzyć funkcję `generuj(lista,n)` która zwielokrotni listę `lista` podaną jako pierwszy argument `n` razy dokładając licznik do elementów. Przykład:

generuj(['p', 'q'],5)

['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

In [29]:
def generuj(list, n):
    res = []
    for i in range(n):
        res.append([x + str(i+1) for x in list])
    return res

generuj(['p', 'q'],5)

[['p1', 'q1'], ['p2', 'q2'], ['p3', 'q3'], ['p4', 'q4'], ['p5', 'q5']]

# Zadanie na dziś 5

Stworzyć funkcję `f(n)` która zbuduje `DataFrame` zawierającą tabliczkę mnożenia do `n`

In [12]:
import pandas as pd

def f(n):
    data = {m:[x*m for x in range(1,n+1)] for m in range(1,n+1)}
    res = pd.DataFrame(data)
    res.index += 1
    return res

f(15)

    1   2   3   4   5   6    7    8    9    10   11   12   13   14   15
1    1   2   3   4   5   6    7    8    9   10   11   12   13   14   15
2    2   4   6   8  10  12   14   16   18   20   22   24   26   28   30
3    3   6   9  12  15  18   21   24   27   30   33   36   39   42   45
4    4   8  12  16  20  24   28   32   36   40   44   48   52   56   60
5    5  10  15  20  25  30   35   40   45   50   55   60   65   70   75
6    6  12  18  24  30  36   42   48   54   60   66   72   78   84   90
7    7  14  21  28  35  42   49   56   63   70   77   84   91   98  105
8    8  16  24  32  40  48   56   64   72   80   88   96  104  112  120
9    9  18  27  36  45  54   63   72   81   90   99  108  117  126  135
10  10  20  30  40  50  60   70   80   90  100  110  120  130  140  150
11  11  22  33  44  55  66   77   88   99  110  121  132  143  154  165
12  12  24  36  48  60  72   84   96  108  120  132  144  156  168  180
13  13  26  39  52  65  78   91  104  117  130  143  156  169  182  195
14  14  28  42  56  70  84   98  112  126  140  154  168  182  196  210
15  15  30  45  60  75  90  105  120  135  150  165  180  195  210  225

# Zadanie na dziś 6

Sprawdzić jakie operatory działają na `frozenset`. Wypisać nietrywialne przykłady ich działania

In [ ]:
a = frozenset([1])
b = frozenset([2])
a+b

In [ ]:
+
-
*
/
%
**
//

=
+=
-=
*=
/=
%=
//=
**=
&=
|=
^=
>>=
<<=

==
!=
>
<
>=
<=

and
or
not

is
is not

in
not in

&
|
^
~
<<
>>