# Lab 3

# Zadanie na zaś 1

Napisać `skrypt` który zliczy ilość wystąpień parametrów z linii komend

PS C:\work\conda\WarsztatPythonDataScience> python .\simple_script.py asdf asdf as as as
{'asdf': 2, 'as': 3}

# Zadanie na zaś 3

Wypisać wszystkie permutacje danej listy
1. z wykorzystaniem itertools
2. bez wykorzystania itertools

permutations([1,2,3])
[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [ ]:
from itertools import permutations
l = [1,2,3]
list(permutations(l,len(l)))

In [ ]:
def permutate(seq):

    if not seq:
        return [seq] 
    else:
        temp = []
        for k in range(len(seq)):
            part = seq[:k] + seq[k+1:]
            for m in permutate(part):
                temp.append(seq[k:k+1] + m)
        return temp

In [ ]:
permutate([1,2,3])

In [ ]:
def permutate(seq):

    if not seq:
        return [seq] 
    else:
        temp = []
        for k in range(len(seq)):
            part = seq[:k] + seq[k+1:]
            print (k, part)
            for m in permutate(part):
                temp.append(seq[k:k+1] + m)
                print ("> ", m, seq[k:k+1], temp)
        return temp

In [ ]:
permutate([1])

In [ ]:
permutate([1,2])

In [ ]:
permutate([1,2,3])

# Zadanie na zaś 5

Stworzyć funkcję `f(n)` która zbuduje `DataFrame` zawierającą tabliczkę mnożenia do `n`

In [ ]:
import pandas as pd
def f(n):
    n+=1
    return pd.DataFrame([ [ x*y for x in range(1,n) ] for y in range(1,n)], index=range(1,n), columns=range(1,n))

f(10)

## Zadanie na dziś 1

In [ ]:
import pandas as pd

data_url = 'http://bit.ly/2cLzoxH'
gapminder = pd.read_csv(data_url)
print(gapminder.head(3))

In [ ]:
print(len(gapminder))

In [ ]:
pd.pivot_table(gapminder, values='lifeExp', columns='continent')

- podsumować 'lifeExp' wg.:
 - Kraju
 - Roku

In [ ]:
pd.pivot_table(gapminder, values='lifeExp', columns='country').T

In [ ]:
pd.pivot_table(gapminder, values='lifeExp', columns='year').T

## Zadanie na dziś 2

In [ ]:
df1 = gapminder[['continent', 'year','lifeExp']]

pd.pivot_table(df1, values='lifeExp', 
                     index=['year'], 
                     columns='continent')

In [ ]:
pd.pivot_table(df1, values='lifeExp', 
                    index=['year'], 
                    columns='continent',
                    aggfunc='min')

- Analogicznie, podać:
    - średnią długość życia w krajach
      - z uwględnieniem roku
      - bez względu na rok

In [ ]:
pd.pivot_table(df1, values='lifeExp', 
                    index=['year'], 
                    columns='continent',
                    aggfunc=['min','mean','max']).T

In [ ]:
pd.pivot_table(df1, values='lifeExp', 
                    columns='continent',
                    aggfunc=['min','mean','max']).T