# Warsztaty Python w Data Science

***

#### Python 4

***

# https://github.com/MichalKorzycki/WarsztatPythonDataScience

# 4. Data Wrangling 2

- Sortowanie
- Data Wrangling w praktyce – podstawowe operacje
- Biblioteka Pandas – wybieranie kolumn i „krojenie danych”

***

In [ ]:
import pandas as pd

data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
        'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions',
                 'Lions', 'Lions'],
        'wins': [11, 8, 10, 15, 11, 6, 10, 4],
        'losses': [5, 8, 6, 1, 5, 10, 6, 12]}


football = pd.DataFrame(data)
football

### Zadanie 1

Podsumować dane dla zespołu `Packers`

In [ ]:
football[football.team == "Packers"]

In [ ]:
football[football.team == "Packers"].describe()

### Zadanie 2

Dodać do DataFrame `football` kolumnę `games_played`

In [ ]:
football['games_played'] = football.wins + football.losses
football

### Zadanie 3

Dodać do DataFrame `football` kolumnę `percentage_games_won`

In [ ]:
football['percentage_games_won'] = 100.0 * football.wins / football.games_played
football

### Zadanie 4

Stworzyć funkcję `get_subsets(l)` która wygeneruje wszystkie podzbiory elementów z `l` korzystając z `frozenset`


Przykład:
    
`get_subsets(['a', 'b', 'c', 'd'])`


`{frozenset(),
 frozenset({'a', 'b', 'c'}),
 frozenset({'d'}),
 frozenset({'b'}),
 frozenset({'a'}),
 frozenset({'b', 'd'}),
 frozenset({'a', 'd'}),
 frozenset({'c'}),
 frozenset({'a', 'c', 'd'}),
 frozenset({'b', 'c'}),
 frozenset({'b', 'c', 'd'}),
 frozenset({'a', 'b'}),
 frozenset({'a', 'b', 'd'}),
 frozenset({'a', 'c'}),
 frozenset({'c', 'd'}),
 frozenset({'a', 'b', 'c', 'd'})}`

In [ ]:
def expand_subsets(subsets, additional_element):
    rez = set()
    
    for x in subsets:
        rez.add(x)
        
        nowy = set(x)
        nowy.add(additional_element)
        rez.add(frozenset(nowy))
        
    return rez

expand_subsets({frozenset({}), frozenset({'a'})}, 'b')

In [ ]:
def get_subsets(lista):
    rez = { frozenset() }
    for x in lista:
        rez = expand_subsets(rez,x)
    return rez
        
get_subsets(['a', 'b', 'c', 'd'])

In [ ]:
def get_subsets(lista):
    rez = { frozenset() }
    for x in lista:
        rez |= { y|set(x) for y in rez}
    return rez

In [ ]:
get_subsets(['a', 'b', 'c', 'd'])

## Sortowanie

In [ ]:
l = [2 ,5 ,6, -1, 0]
sorted(l)

In [ ]:
l

In [ ]:
l.sort()
l

In [ ]:
sorted(l,reverse=True)

In [ ]:
sorted(l, key=abs)

In [ ]:
sorted(l, key=abs, reverse=True)

In [ ]:
def square(x):
    return x*x

sorted(l, key=square)

In [ ]:
sorted(l, key=lambda x: x*x)

In [ ]:
complex_l = [ (-1, 4), (6, 1), (5, -1), (2, 3), (0, 4) ]

sorted(complex_l, key=lambda x: x[1])

In [ ]:
import operator

sorted(complex_l, key=operator.itemgetter(1))

In [ ]:
m = dict(complex_l)
m

In [ ]:
m.keys()

In [ ]:
m[-3] = 5

In [ ]:
m

In [ ]:
for k in sorted(m.keys()):
    print (k,'\t',m[k])

In [ ]:
import collections

print ('Regular dictionary:')
d = {}
d['e'] = 'E'
d['d'] = 'D'
d['c'] = 'C'
d['b'] = 'B'
d['a'] = 'A'

for k, v in d.items():
    print (k, v)

### W Pythonie 3.7 dict jest domyślnie posortowany po kolejności umieszczenia

In [ ]:
dict([(1,1), (2,2)]) == dict([(2,2), (1,1)])

In [ ]:
from collections import OrderedDict
OrderedDict([(1,1), (2,2)]) == OrderedDict([(2,2), (1,1)])

Stworz funkcję która usunie z listy najmniejszy element listy

l = [4, 1, 2, 3]

usun_min(l)

l

[4, 2, 3]

In [ ]:
def usun_min(lista):
    do_usuniecia = set()
    for i in range(len(lista)):
        if lista[i]==min(lista):
            do_usuniecia.add(i)
    for i in sorted(do_usuniecia, reverse=True):
        del lista[i]

In [ ]:
l = [4, 1, 2, 1, 3, 1]

usun_min(l)

l

[4, 2, 3]

# Formatowanie napisów

In [ ]:
errno = 50159747054
name = 'Bob'

In [ ]:
'Hello, %s' % name

In [ ]:
'%d' % errno

In [ ]:
'%.2f' % 3.1415926

In [ ]:
'%x' % errno

In [ ]:
'Hello, %s there is a %x error!'  % (name,errno)

In [ ]:
'Hey %(name)s, there is a 0x%(errno)x error!' % { "name": name, "errno": errno }

In [ ]:
'Hello, {}'.format(name)

In [ ]:
'Hey {name}, there is a {errno:x} error!'.format(name=name, errno=errno)

In [ ]:
f'Hello, {name}!'

In [ ]:
a = 5
b = 10
f'Five plus ten is {a + b} and not {2 * (a + b)}.'

In [ ]:
f"Hey {name}, there's a {errno:#x} error!"

I jeszcze

In [ ]:
from string import Template

In [ ]:
t = Template('Hey, $name!')

In [ ]:
t.substitute(name=name)

# Tidy Data

- __Each variable you measure should be in one column.__
- __Each different observation of that variable should be in a different row.__
- There should be one table for each "kind" of variable.
- If you have multiple tables, they should include a column in the table that allows them to be linked.

# Pandas

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame({'Student': {0: 'Kowalski J.', 1: 'Nowak A.', 2: 'Korzycki M.'},
                   'WuEf': {0: 5, 1: 4, 2: 2},
                   'Matma': {0: 5, 1: 3, 2: 2}})
df

### Szeroki w długi

In [ ]:
pd.melt(df, id_vars=['Student'], value_vars=['WuEf', 'Matma'])

In [ ]:
df1 = pd.melt(df, id_vars=['Student'], value_vars=['WuEf', 'Matma'],
       var_name='Przedmiot', value_name='Ocena')
df1

In [ ]:
df1.sort_values('Student')

In [ ]:
df1.sort_values(['Student', 'Ocena'])

In [ ]:
df1.sort_values(['Student', 'Ocena']).reset_index()

In [ ]:
df1.sort_values(['Student', 'Ocena']).sort_index()

In [ ]:
import numpy as np

df = pd.DataFrame({'value': np.random.randint(0, 100, 20)})
df

In [ ]:
f = lambda x: x*2

In [ ]:
df.apply(f)

In [ ]:
df.info()

In [ ]:
df.shape

In [ ]:
labels = ["{0} - {1}".format(i, i + 9) for i in range(0, 100, 10)]
labels

In [ ]:
df = pd.DataFrame({'value': np.random.randint(0, 100, 20)})
df

In [ ]:
pd.cut(df.value, range(0, 105, 10), right=False)

In [ ]:
pd.cut(df.value, range(0, 105, 10), right=False, labels=labels)

In [ ]:
df['Group'] = pd.cut(df.value, range(0, 105, 10), right=False, labels=labels)
df

In [ ]:
df.groupby('Group').sum()

In [ ]:
df.groupby('Group').count()

In [ ]:
import functools

def test_sum(series):
       return functools.reduce(lambda x, y: x + y, series, 0)

test_sum(range(10))

In [ ]:

df.groupby('Group').agg({'value': ['count', test_sum]})

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))
df

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(-1, 10))
df

In [ ]:
df.apply(max,axis=1)

In [ ]:
df.apply(max,axis=0)

In [ ]:
df["max"] = df.apply(max,axis=1)
df

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(-1, 10))
df

In [ ]:
df.append(df.apply(max,axis=0), ignore_index=True)

In [ ]:
df = pd.DataFrame({ 'foo': ['one', 'one', 'one', 'two', 'two', 'two'],
                    'bar': ['A', 'B', 'C', 'A', 'B', 'C'],
                    'baz': [1, 2, 3, 4, 5, 6], 
                    'zoo': ['x', 'y', 'z', 'q', 'w', 't']})
df

In [ ]:
df.stack()

In [ ]:
df.stack().reset_index()

In [ ]:
df.stack().unstack()

In [ ]:
df

### Długi w szeroki

In [ ]:
df.pivot(index='foo', columns='bar', values='baz')

In [ ]:
df.pivot(index='foo', columns='bar', values=['baz', 'zoo'])

In [ ]:
df_e = pd.DataFrame({"foo": ['one', 'one', 'two', 'two'],
                   "bar": ['A', 'A', 'B', 'C'],
                   "baz": [1, 2, 3, 4]})
df_e

In [ ]:
df_e.pivot(index='foo', columns='bar', values='baz')

In [ ]:
df = pd.DataFrame({"foo": ['one', 'two', 'three', 'four'],
                   "bar": ['A', 'B', 'C', 'D'],
                   "baz": [1, 2, 3, 4]})
df

In [ ]:
df.pivot(index='bar', columns='foo')

In [ ]:
df.pivot(index='foo', columns='bar')

In [ ]:
df.groupby(['foo', 'bar'])['baz'].aggregate('mean')

In [ ]:
df.groupby(['foo', 'bar'])['baz'].aggregate('mean').unstack()

### Zadanie 1

Napraw `df_e` biorąc maksimum wartości `baz` dla pary `foo`, `bar` (odrzuć konflikty)

In [ ]:
df_e = pd.DataFrame({"foo": ['one', 'one', 'two', 'two'],
                   "bar": ['A', 'A', 'B', 'C'],
                   "baz": [1, 2, 3, 4]})

df_e.groupby(['foo','bar']).aggregate('max').reset_index()

### Zadanie 2

Do poniższego DataFrame:
    
`df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, 10))`

Dołożyć:
    
- kolumnę z sumą po wierszach
- wiersz z sumą po kolumnach

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, 10))
df

In [ ]:
if 'sum' not in df.columns: df["sum"] = df.sum(axis=1) #df.apply(sum,axis=1)
rows_amount = df.shape[0]
if rows_amount < 9: df.loc[rows_amount] = df.sum(axis=0)
df

### Zadanie 3

Przerobic DataFrame:

In [ ]:
data = {'weekday': ["Monday", "Tuesday", "Wednesday", 
         "Thursday", "Friday", "Saturday", "Sunday"],
        'Person 1': [12, 6, 5, 8, 11, 6, 4],
        'Person 2': [10, 6, 11, 5, 8, 9, 12],
        'Person 3': [8, 5, 7, 3, 7, 11, 15]}
df = pd.DataFrame(data, columns=['weekday',
        'Person 1', 'Person 2', 'Person 3'])
df

Na postać "tidy" (1 wiersz na ocenę)

In [ ]:
df1 = pd.melt(df, id_vars=['weekday'], value_vars=['Person 1', 'Person 2', 'Person 3'],
       var_name='Person', value_name='Mark')
df1

### Zadanie 4

Biorąc następujący DataFrame:

In [ ]:
df = pd.DataFrame(data = {
    'Day' : ['MON', 'TUE', 'WED', 'THU', 'FRI'], 
    'Google' : [1129,1132,1134,1152,1152], 
    'Apple' : [191,192,190,190,188] 
})
df

In [ ]:
reshaped_df = df.melt(id_vars=['Day'], var_name='Company', value_name='Closing Price')
reshaped_df

Stworzyć korzystając z `reshaped_df` przy uzyciu `pivot` DataFrame identyczny z `df`

In [ ]:
#from pandas.api.types import CategoricalDtype
days = [ 'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT', 'SUN']
#cat_type = CategoricalDtype(categories=days, ordered=True)

df1 = reshaped_df.pivot(index='Day', columns='Company')['Closing Price'].reset_index()
df1 = df1.loc[:,df.columns]

df1['Day'] = pd.Categorical(df1['Day'], days)
#df1.sort_values(df1['Day'].astype(cat_type))
df1.sort_values('Day', inplace=True)

#df1['Day'] = df1['Day'].astype(str)

df1.reset_index(inplace=True,drop=True)
df1